<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    <header class="display-flex justify space-between align-right">
        <nav>
            <ul class="links">
                <li id="home"><a href="/">Home</a></li>
                <li id="dashboard"><a href="/api/dashboard">Dashboard</a></li>
                {{#if logged_in}}
                <li id="logout"><a href='/logout'>Logout</a></li>
                {{else}}
                <li id="login"><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="title-container">
            <div id="page-title">
                <h1>The Tech Blog</h1>
            </div>
        </div>
    </header>
    {{{body}}}
    <script src="/js/logout.js"></script>
</body>

</html>